// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$logo-top-color:    #2CA9E1; /* Ama */
$logo-bottom-color: #1E50A2; /* Ruri */

$blue: (
  "base": $logo-bottom-color
);

$light-blue: (
  "base": $logo-top-color
);

@import '~vuetify/src/styles/styles.sass';
