// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$logo-top-color:    #2CA9E1; // Ama:  https://www.colordic.org/colorsample/2312
$logo-bottom-color: #1E50A2; // Ruri: https://www.colordic.org/colorsample/2069

$blue: (
  "base": $logo-bottom-color
);

$light-blue: (
  "base": $logo-top-color
);

@import '~vuetify/src/styles/styles.sass';
